services:
  BrachyUtils:
    build:
      context: ../
      dockerfile: docker_src/Dockerfile
      ssh:
        - default
      args:
        - HOST_HOME=${HOST_HOME}
    image: brachyutils
    container_name: BrachyUtils
    user: "0:0" #"${UID}:${GID}"
    working_dir: /app
    stdin_open: true # docker run -i
    tty: true # docker run -t
    environment:
      - HOST_HOME=${HOST_HOME}
      - DEBIAN_FRONTEND=noninteractive
      - QT_QPA_PLATFORM=offscreen
      - DISPLAY=${DISPLAY} # for access to graphical server
    volumes:
      - ${HOST_HOME}/Software/brachyutils:/app/Software/brachyutils
      - ${HOST_HOME}:/home/ubuntu/YourLocalHome
      - /tmp/.X11-unix:/tmp/.X11-unix # for access to graphical server
    expose:
      - "8000"
    networks:
      net_brachyutils:
        ipv4_address: 192.168.1.10
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  SimpleElastix:
    image: simple-elastix:latest
    container_name: SimpleElastix
    user: "${UID}:${GID}"
    working_dir: /app
    stdin_open: true # docker run -i
    tty: true # docker run -t
    environment:
      - HOST_HOME=${HOST_HOME}
      - DISPLAY=${DISPLAY}
    volumes:
      # - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOST_HOME}:/home/ubuntu/YourLocalHome
      - registration-volume:/app/Software/SimpleElastix-brachyutils/temp_data
    networks:
      net_brachyutils:
        ipv4_address: 192.168.1.14
    entrypoint: ["/bin/bash"]
    command: ["/app/Software/SimpleElastix-brachyutils/run_api.sh"]

  Plastimatch:
    image: plastimatch:latest
    container_name: Plastimatch
    user: "${UID}:${GID}"
    working_dir: /app
    stdin_open: true # docker run -i
    tty: true # docker run -t
    environment:
      - HOST_HOME=${HOST_HOME}
      - DISPLAY=${DISPLAY}
    volumes:
      - ${HOST_HOME}/Software/brachyutils/temp_data/registration:/app/Software/plastimatch-brachyutils/temp_data
      # - /tmp/.X11-unix:/tmp/.X11-unix
      # - ${HOST_HOME}:/home/ubuntu/YourLocalHome
    networks:
      net_brachyutils:
        ipv4_address: 192.168.1.13
    entrypoint: ["/bin/bash"]
    command: ["/app/Software/plastimatch-brachyutils/run_api.sh"]

  DoseCalcMC:
    image: rapidbrachy_mc
    container_name: DoseCalcMC
    user: "${UID}:${GID}"
    working_dir: /app
    stdin_open: true # docker run -i
    tty: true # docker run -t
    environment:
      - HOST_HOME=${HOST_HOME}
      - DEBIAN_FRONTEND=noninteractive
    volumes:
      # - ${HOST_HOME}/Software/RapidBrachyMCTPS/RapidBrachyMC:/app/Software/RapidBrachyMCTPS/RapidBrachyMC
      # - ${HOST_HOME}:/app/YourLocalHome
      - ${HOST_HOME}/Software/brachyutils/temp_data/mc:/app/Software/RapidBrachyMCTPS/RapidBrachyMC/temp_data
    networks:
      net_brachyutils:
        ipv4_address: 192.168.1.11
    entrypoint: ["/bin/bash"]
    command: ["/app/Software/RapidBrachyMCTPS/RapidBrachyMC/run_api.sh"]

  DoseCalcTG43:
    image: rapidbrachy_tg43
    container_name: DoseCalcTG43
    user: 0:0 #"${UID}:${GID}"
    working_dir: /app
    stdin_open: true # docker run -i
    tty: true # docker run -t
    environment:
      - HOST_HOME=${HOST_HOME}
      - DEBIAN_FRONTEND=noninteractive
    volumes:
      # - ${HOST_HOME}/Software/TG43_Dose_Calculation_Standalone:/app/Software/TG43_Dose_Calculation_Standalone
      # - ${HOST_HOME}:/app/YourLocalHome
      - ${HOST_HOME}/Software/brachyutils/temp_data/tg43:/app/Software/TG43_Dose_Calculation_Standalone/temp_data
    networks:
      net_brachyutils:
        ipv4_address: 192.168.1.12
    entrypoint: ["/bin/bash"]
    command: ["/app/Software/TG43_Dose_Calculation_Standalone/run_api.sh"]

  I4H-BrachyUtils:
    build:
      context: ../
      dockerfile: docker_src/Dockerfile
      ssh:
        - default
      args:
        - HOST_HOME=${HOST_HOME}
    image: i4h-brachyutils
    container_name: I4H-BrachyUtils
    user: "0:0" #"${UID}:${GID}"
    working_dir: /app
    stdin_open: true # docker run -i
    tty: true # docker run -t
    environment:
      - HOST_HOME=${HOST_HOME}
      - DEBIAN_FRONTEND=noninteractive
      - QT_QPA_PLATFORM=offscreen
      - DISPLAY=${DISPLAY} # for access to graphical server
    volumes:
      - ${HOST_HOME}/Software/brachyutils:/app/Software/brachyutils
      - ${HOST_HOME}:/home/ubuntu/YourLocalHome
      - /tmp/.X11-unix:/tmp/.X11-unix # for access to graphical server
    expose:
      - "8000"
    networks:
      net_brachyutils:
        ipv4_address: 192.168.1.10
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

networks:
  net_brachyutils:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24

# defining a shared volume on hard drive for files
volumes:
  registration-volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HOST_HOME}/Software/brachyutils/temp_data/registration

  mc-volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HOST_HOME}/Software/brachyutils/temp_data/mc

  tg43-volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HOST_HOME}/Software/brachyutils/temp_data/tg43
